.card-image {
    display: flex !important;;
    align-items: center !important;;
    text-align: center !important;;
    margin: 0 auto !important;;
    background-color: black !important;
}

.row {
    background-color: black !important;
}

.responsive-img {
    background-color: red !important;
}   

.everything {
    border: 3px solid red !important;
    background-color: black !important;
}